.item {
  display: grid;
  grid-template-areas: '. price-area' '. price-area';
  grid-template-columns: 3fr 1fr;
  gap: 4px 15px;

  &>h3 {
    font-size: 0.9rem;
    color: var(--text-white);
    font-weight: 600;
  }

  &>p {
    font-size: 0.75rem;
    color: var(--text-muted);
    line-height: 1.4;
  }
}

.priceBox {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-area: price-area;

  &>mark {
    font-size: 0.9rem;
    font-weight: 700;
    color: var(--gold-color);
    white-space: nowrap;
    /* Remoção do estilo padrão */
    background-color: transparent;
  }
}